<form action="/add" method="POST">
    <label for="titulo">Título</label>
    <input type="text" name="titulo">
    <label for="conteudo">Conteúdo</label>
    <input type="tex" name="conteudo">
    <button type="submit">Enviar</button>
</form>